{% extends 'main.html' %}
{% block content %}

<h1 class="fontclass">EDUCATION</h1>
<ul class="fontclass">
  <li><h2> Graduation  </h2></li>
  <ul>
    <li>ABES ENGINEERING COLLEGE</li>
    <li>GHAZIABAD</li>
    <li>BTECH IN COMPUTER SCIENCE</li>
    <li>2016-2020</li>
  </ul>

  <li><h2> 12TH CLASS  </h2></li>
  <ul>
    <li>ST PETER'S HIGHER SECONDARY SCHOOL</li>
    <li>JAMMU</li>
    <li>SCIENCE STREAM secured 93.2% in JKBOSE</li>
    <li>2015-2016</li>
  </ul>

  <li><h2> 10TH CLASS  </h2></li>
  <ul>
    <li>ST PETER'S HIGHER SECONDARY SCHOOL</li>
    <li>JAMMU</li>
    <li>Secured 92.8% in JKBOSE</li>
    <li>2013-2014</li>
  </ul>

</ul>
<a href="/">BACK</a>
{% endblock %}
