{% extends 'main.html' %}
{% block content %}
<h1 class="fontclass">SKILL SET</h1>
<ul class="fontclass">
  <li><h2>PYTHON DEVELOPER</h2></li>
    <ul>
      <li>Reviving India</li>
      <li>Duration :- 05/06/2018- 05/07/2018</li>
    </ul>

  <li><h2>TECHNICAL INTERN</h2></li>
      <ul>
        <li>Reviving India</li>
        <li>Duration :- 01/03/2019- 31/05/2019</li>
      </ul>

  <li><h2>CONTENT WRITER</h2></li>
        <ul>
            <li>VLCC</li>
            <li>Duration :- 15/11/2017- 15/01/2018</li>
        </ul>
</ul>
<a href="/">BACK</a>
{% endblock %}
