{% extends 'main.html' %}
{% block content %}

<h1 class="fontclass">PERSONAL INFO</h1>
<ul class="fontclass">
  <li><h2> Hi Everyone I am a Fresher with knowledge of Django backend developer with a few minor basic level projects. Pursuing B.tech from Abes Engineering College ,currently in third year from CS branch  </h2></li>
  <li><h2>I also have a keen interest in Coding and Solving Problems</h2></li>
  <li><h2>In Future I want to endorse Data Analysis Field too along with Devekopment</h2></li>
</ul>

<a href="/">BACK</a>
{% endblock %}
